
/* buttons for nav bar */

a:link, a:visited, a:hover, a:active {
    background-color: black;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    }

/* Background colors */

body {
    background-color: yellow;
}

h1 {
    background-color: red;
}

p {
    background-color: whitesmoke;
}
