

/* buttons for nav bar */
a:link, a:visited, a:hover, a:active {
  background-color: black;
  color: white;
  padding: 5px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  }



/* Flexbox */

.container {
    background: black;
    height: 50vh;
    width: 50vw;
    padding: 0.5em;
    margin: 25vh auto 0;
    
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    
    justify-content: space-evenly;
    align-content: space-between;
  }
  
  .item {
    background: gold;
    margin: 0.5em;
    width: 1000px;
    
  }

 /* Global Styling */

 /*
body {
    background-color: gold;
    }





/* Mobile First */

@media (min-width: 600px) {

}