

/* buttons for nav bar */
a:link, a:visited, a:hover, a:active {
  background-color: black;
  color: white;
  padding: 5px 25px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  display: inline-block;
  }


/* ======== HOME PAGE ======== */

.item-menu {
    background:black;
    height: 40vh;
    width: 80vw;
    padding: 0.3em;
    margin: 25vh auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  
    justify-content: center;
    align-content: space-between;
  }
  
  .item {
    padding: 2vh 0;
    background: gold;
    text-align: center;
    margin: 0.3em;
  }

  .one {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 250px;
  }

  .two {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 250px;
  }

  .three {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 250px;
  }

  
/* ======== MENU PAGE ========== */

/* Menu Nav */

.bigmick-meal {
  padding: 0px;
  margin: 25px;
  text-align: center;
}
  .menu-items {
    padding: 12vh 0;
    text-align: center;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
  
  .menu-item {
    flex-basis: 30%;
    padding: 10px;
  }
  
  @media (min-width: 679px) {
    .menu-items {
      flex-direction: row;
      
    }
  }

  /* Menu Button */
  .order-here {
    width: 100px;
    height: 30px;
    border: gold;
    color: gold;
    background-color: black;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 red;
    transition: ease-out 0.3s;
    outline: none;
  }

  .order-here:hover {
    box-shadow: inset 100px 0 0 0 gold;
    cursor: pointer;
    color: black;
    
  }

  /* ======== STAFF PAGE ======== */
  
/* Staff Nav */

.staff {
  padding: 0px;
  margin: 25px;
  text-align: center;
}
  .employees {
    padding: 10vh 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .employee {
    flex-basis: 30%;
    padding: 20px;
  }

  @media screen and (min-width: 679px) {
    .employees {
      flex-direction: row;
      padding: 20px;
    }
  }
  


 /* ======== GLOBAL STYLING ======== */

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;

 }

html, 
body {
  height: 100vh;
  padding: 0px;
  margin: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
  min-height: 100%;
}

.main {
  overflow: auto;
  padding-bottom: 150px;
  
}

/* ======= FOOTER ======== */

.footer {
  background-color: gold;
  position: relative;
  height: 200px;
  margin-top: -200px;
  clear: both;
}





/* Mobile First */

/* @media (min-width: 679px) { */
  